
h1{
    font-size: 3rem;
}

*{
  -webkit-user-select:none;
  user-select:none;
}

/* Custom Slider Styles */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

 

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;

  width: 20px;
  height: 20px;
  
  border: 2px solid #525252;   /* bordure */
  background-color: rgb(115, 115, 115);  /* fond */
  cursor: pointer;
  position: relative;
}


.custom-checkbox:checked {
  background-color: #e48e2b; /* fond checked */
  border-color: #000000;     /* bordure checked */
}


.custom-checkbox:checked::after {
  color: rgb(0, 0, 0);
  font-size: 30px;
  position: absolute;
  left: 0px;
  top:-13px
}




/* Track (the line) - right portion at 20% opacity */
input[type="range"]::-webkit-slider-runnable-track {
  background: gray;
  height: 4px;
  border-radius: 0;
}

input[type="range"]::-moz-range-track {
  background:   gray;
  height: 1px;
  border-radius: 0;
}

/* Thumb (the handle) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-black);
  height: 15px;
  width: 8px;
  border-radius: 0;
  margin-top: -5.5px;
  /* Centers thumb on track */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: var(--color-black);
  height: 12px;
  width: 8px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

/* Focus styles */
input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: var(--color-black);
}

input[type="range"]:focus::-moz-range-thumb {
  background: var(--color-black);
}